<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.google-analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ site.data.settings.google-analytics }}');
</script>
<script async
        src="https://agent-8914474d9017ddd3a9eb-5qcft.ondigitalocean.app/static/chatbot/widget.js"
        data-agent-id="5381000c-e55f-11ef-bf8f-4e013e2ddde4"
        data-chatbot-id="WhrVpU0dLvinqm7YiEBp1L-hOjorZf4K"
        data-name="Ask Jooby"
        data-primary-color="#031B4E"
        data-secondary-color="#E5E8ED"
        data-button-background-color="#0061EB"
        data-starting-message="Hello.  My name is Jooby.  I am the buffalo looking confident on the home page. I have read the whole manual, and the knowledge base too. Ask me anything about Jube, or it's practical implementation."
        data-logo="/static/chatbot/icons/default-agent.svg">
</script>