<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.google-analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ site.data.settings.google-analytics }}');
</script>
<script async
        src="https://agent-8914474d9017ddd3a9eb-5qcft.ondigitalocean.app/static/chatbot/widget.js"
        data-agent-id="5381000c-e55f-11ef-bf8f-4e013e2ddde4"
        data-chatbot-id="WhrVpU0dLvinqm7YiEBp1L-hOjorZf4K"
        data-name="Ask Jooby"
        data-primary-color="#2FAB9B"
        data-secondary-color="#005F7F"
        data-button-background-color="#2FAB9B"
        data-starting-message="Hey there! 👋 I'm Jooby—the bold, confident buffalo you see strutting across the homepage. 🦬✨ I've devoured the entire manual and the knowledge base (yep, every last word). So if you’ve got questions about Jube—how it works, what it can do, or how to make the most of it—fire away! I’m here to help. 💡🚀 Go on, test me! 😉"
        data-logo="/static/chatbot/icons/default-agent.svg">
</script>